<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="DBConnectionString" value="Data Source=DESKTOP-923GKC6\SQLEXPRESS;Initial Catalog=market;User ID=sa;Pwd=123456"/>
	</appSettings>
	<connectionStrings>
  <add name="marketConnectionString" connectionString="Data Source=DESKTOP-923GKC6\SQLEXPRESS;Initial Catalog=market;Persist Security Info=True;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
	
		<authentication mode="Windows"/>
		<compilation debug="true"/></system.web>
</configuration>
